/*



    " Reimplement the wheel to either learn, or make it better. "

    http://www.hayder.io/
    https://www.youtube.com/watch?v=QOlTGA3RE8I
    
    Product Name: YouTubeTracker,
	Description: Tracking YouTube"s data.
	Beneficiary: COSMOS
	
	Copyright © 1992 - 2021 HAYDER, All Rights Reserved.
	
	
	
*/



@import "templates/analytics-template.css";



/***** Posting Frequecy Diagram START *****/

main#content div#dashboard section#visualizations figure#postingFrequencyDiagram.figure {

    grid-template-columns: 250px auto;
    grid-template-rows: auto 90px;
    min-height: 500px;
    height: 500px;

}

main#content div#dashboard section#visualizations figure#postingFrequencyDiagram.figure div#channelsWrapper {

    padding: 10px;
    grid-row: 1/3;
    grid-column: 1;
    overflow-y: scroll;

}

main#content div#dashboard section#visualizations figure#postingFrequencyDiagram.figure div#channelsWrapper input#searchChannelsFrequency {

    width: 100%;
    margin-right: 4px;
    margin-bottom: 10px;

}

main#content div#dashboard section#visualizations figure#postingFrequencyDiagram.figure div#channelsWrapper ul#channelsList li {

    background-color: var(--greyishDark);
    border: 2px solid transparent;
    border-radius: var(--radius15);
    font-size: var(--size16);
    padding: 10px;
    width: 100%;
    margin-bottom: 4px;
    cursor: pointer;

}

main#content div#dashboard section#visualizations figure#postingFrequencyDiagram.figure div#channelsWrapper ul#channelsList li.disabled {

    background-color: var(--greyishDark);
    color: var(--whitishTransparent3);
    cursor: default;

}

main#content div#dashboard section#visualizations figure#postingFrequencyDiagram.figure div#channelsWrapper ul#channelsList li:not(.disabled):hover {

    background-color: var(--whitishTransparent3);
    border-color: var(--whitishTransparent3);

}

main#content div#dashboard section#visualizations figure#postingFrequencyDiagram.figure ul#statisticsWrapper {
    
    display: flex;
    height: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;

}

main#content div#dashboard section#visualizations figure#postingFrequencyDiagram.figure ul#statisticsWrapper li {

    border-radius: var(--radius15);
    padding: 15px 20px;
    margin-right: 50px;

}

ul#statisticsWrapper li h3 {

    font-size: var(--size17);
    font-weight: 400;

}

ul#statisticsWrapper li p {

    font-size: var(--size28);
    font-weight: 600;
    
}

/***** Posting Frequecy Diagram END *****/



/***** Channel Location Diagram START *****/

main#content div#dashboard section#visualizations figure#channelLocationDiagram.figure {

    grid-template-columns: 350px auto;

}

main#content div#dashboard section#visualizations figure#channelLocationDiagram.figure div#titleWrapper {

    grid-column: 1/3;

}

main#content div#dashboard section#visualizations figure#channelLocationDiagram.figure div#figureWrapper {

    grid-column: 2;

}

main#content div#dashboard section#visualizations figure#channelLocationDiagram.figure div#contentWrapper {

    padding: 10px;
    overflow-x: hidden;
    overflow-y: scroll;
    grid-column: 1;
    grid-row: 2;

}

main#content div#dashboard section#visualizations figure#channelLocationDiagram.figure div#contentWrapper input#searchChannelsLocation {

    width: 100%;

}

/***** Channel Location Diagram END *****/



/***** Channel Details Diagram START *****/

main#content div#dashboard section#visualizations figure#channelDetailsDiagram.figure div#contentWrapper {

    padding: 10px;
    overflow-x: hidden;
    overflow-y: scroll;

}

main#content div#dashboard section#visualizations figure#channelDetailsDiagram.figure div#contentWrapper p#channelDetailsCounter {

    display: inline-block;
    padding-left: 10px;

}

main#content div#dashboard section#visualizations figure#channelDetailsDiagram.figure div#contentWrapper tbody td {

    padding: 7px 10px;

}

/***** Channel Details Diagram END *****/